body, #content #logoTabs, #content #signupBody, #content #footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fff;
  font-family: 'Nunito', 'Helvetica', sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.margin {
  background: #f59b88;
  width: 100%; }

#content {
  min-width: 800px; }
  #content #top {
    height: 100px;
    background: red; }
  #content #logoTabs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100px;
    background: yellow; }
    #content #logoTabs #logo img {
      height: 50px; }
    #content #logoTabs #tabs li {
      display: inline-block; }
  #content #signupBody {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 828px;
    padding: 50px;
    background: #dfd7d7; }
    #content #signupBody #signupForm {
      width: 100%;
      background: #924ebd; }
      #content #signupBody #signupForm #lock {
        background-image: url("/img/lock.png");
        background-size: cover;
        display: inline-block;
        height: 25px;
        width: 20px; }
    #content #signupBody #aside {
      height: 560px;
      min-width: 192px;
      background: orange; }
  #content #footer {
    height: 210px;
    margin: 100px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: grey; }
    #content #footer #infoLinks {
      background: blue; }
    #content #footer #statement {
      background: yellow; }
    #content #footer #securityLinks {
      height: 100px;
      background: red; }
    #content #footer #copyright {
      background: orange; }
